.text-content {
    font-size: 1.25vw;
    padding-top: 10%;
    color: white;
}

.text-content h1 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.text-content h2, h3 {
    padding-bottom: 5px
}

.text-content b {
    color: #4BC0C0;
}
.text-content.centerized h1{ 
    text-align: center;
}