@keyframes slideInFromLeft {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

.mainTitle {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding-top: 10vh;
  text-align: center;
}

.mainTitle h1 {
  font-family: Fjalla One;
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 105%;
  letter-spacing: -5px;
  font-weight: 400;
  margin: 15px 0 0;
  color: white;
}

.mainTitle h2 {
  padding-top: 5vh;
  color:  #4BC0C0;
}